* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:'gilroy';
}
html, body {
height: 100%;
width: 100%;
}
#page5{
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  position: relative;
  padding: 5vh 10.5vw;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-top: 100px solid #111;
}



#page5>button{
  /* background-color: #0DA34E; */
  /* padding: 0.8vw 2.5vw; */
  font-size: 1vw; 
  text-align: center;
  border-radius: 50px;
  border: none; 
  font-weight: 900;
  position: sticky;
  top: 15%;
}
#page5-right{
  width: 85%;
}
#page5-right>p{
  font-size: 2.1vw;
}
#page5-right>p>span{
  background-color: #0DA34E;
  width: 15vw;
  display: inline-block;
  
}
#page5-content{
  width: 100%;
  /* background-color: red; */
  margin-top: 5vh;
  padding: 5vh 0;
  border-top: 2px solid white;
}
#page5-content>h1{
  font-size: 3vw;
  font-weight: 500;
}
#page5-content #flex{
  display: flex;
  margin-top: 4vh;
  margin-bottom: 4vh;
}
#page5-content #flex h4{
  border-radius: 50px;
  border: 01px solid white;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 0.8vw;
}
.page5-elem{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* background-color: red; */
  padding-top: 3vh ;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  padding-bottom: 8vh;
  position: relative;
  border-top: 1px solid #333;

}
.page5-elem p{
  width: 55%;
  font-size: 0.8vw;
  position: relative;
  z-index: 8;
  overflow: hidden;
}
.page5-elem h3{
  font-size: 1.6vw;
  font-weight: 400;
  position: relative;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  z-index: 8;
}
.page5-elem i{
  font-size: 1vw;
  position: relative;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  z-index: 8;
}
.over{
  height: 100%;
  width: 100%;
  background-color: #222;
  position: absolute;
  top: 0;
  transform:translateY(-100%);
  opacity: 0;
  display: none;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
.page5-elem:hover h3{
  padding-left: 1vw;
  /* padding-right: 2vw; */
}
.page5-elem:hover i{
  padding-right: 1vw;

}
.page5-elem:hover .over{
  transform: translateY(0%);
  opacity: 1;
  display: initial;
}
.page5-elem:hover{
  border-top: 2px solid #fff;
}
summary::marker{
  content: "";
}

/* .page5-elem:hover
{
  background: #0fad92;
  color: #ffffff;
  box-shadow: 0 0 5px #0fad92,
        0 0 25px #0fad92,
        0 0 50px #0fad92,
        0 0 200px #0fad92;
} */






button {
  position: relative;
  text-align: center;
  display: inline-block;
  font-size: 1.5em;
  letter-spacing: .1em;
  color: #111;
  margin-right: 1vw;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #0ef;
  padding: 10px 30px;
  z-index: 1;
  overflow: hidden;
  transition: color 1s, box-shadow 1s;
}
button:hover {
  transition-delay: 0s, 1s;
  color: #fff;
  box-shadow:
      0 0 10px #0ef,
      0 0 20px #0ef,
      0 0 40px #0ef,
      0 0 80px #0ef,
      0 0 160px #0ef;
}
button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  width: 0;
  height: 100%;
  background: #0ef;
  transform: skewX(35deg);
  z-index: -1;
  transition: 1s;
}
button:hover:before {
  width: 100%;
}


#page6 {
  min-height: 100vh;
  width: 100%;
  /* background-color: #111; */
  background-color: #fff;
  padding: 10vh 10vw;
  padding-top: 20vh;
}

#page6 > h1 {
  font-size: 5.5vw;
  text-align: center;
  color: #000;
  /* background-color: red; */
  /* padding-left: 23vw; */
  /* padding-right: 5vw; */
  line-height: 5.8vw;
  padding-bottom: 10vh;
  border-bottom: 1px solid #dadada;
}

#page6-content {
  /* background-color: red; */
  color: #000;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8vh 0;
}

#page6-content #right-6 {
  width: 100%;
  /* padding-left: 20vw; */
}

#page6-content #right-6 p {
  font-size: 1.5vw;
  color: #000;
  margin-bottom: 5vh;
  width: 100%;
  text-align: center;
}

#blue-btn {
  background-color: #4f5bff;
  width: 15vw;
  height: 3.5vw;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#blue-btn h4 {
  position: absolute;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.85vw;
  /* letter-spacing: 1px; */
}

#blue-btn h4 i {
  font-size: 1.1vw;
  font-weight: 100;
  margin-left: 0.5vw;
}

#page6-bottom {
  height: 44vh;
  width: 100%;
  /* background-color: red; */
  border-top: 1px solid #dadada;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /* background-color: green; */
  
}
#btm6-part1{
  border-right: 1px solid #dadada;
  width: 0%;
  /* background-color: red; */
  height: 100%;
}
#btm6-part2{
  border-right: 1px solid #dadada;
  width: 28%;
  /* background-color: red; */
  height: 100%;
}
#btm6-part3{
  border-right: 1px solid #dadada;
  width: 28%;
  /* background-color: red; */
  height: 100%;
}
#btm6-part4{
  border-right: 1px solid #dadada;
  width: 28%;
  /* background-color: red; */
  height: 100%;
}
#btm6-part5{
  /* border-right: 1px solid #dadada; */
  width: 0%;
  /* background-color: red; */
  height: 100%;
}
.btm6-parts{
  padding: 3vh 0.6vw;
}
.btm6-parts h5{
  color: #000;
  font-weight: 500;
  font-size: 0.9vw;
  margin-bottom: 4vh;
}
.btm6-parts h4{
  background-color: #111;
  width: 75%;
  padding: 5px 10px;
  border-radius: 50px;
  margin-bottom: 0.3vh;
  font-size: 0.85vw;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.btm6-parts span{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5vw;
  height: 1.5vw;
  background-color: #333;
  padding: 0.5vw;
  border-radius: 50%;
  margin-right: 1vw;
}
#btm6-part2 h4:nth-child(2){
  transform: translateX(0);
}
#btm6-part2 h4:nth-child(3){
  transform: translateX(10%);
}
#btm6-part2 h4:nth-child(4){
  transform: translateX(20%);
}
#btm6-part2 h4:nth-child(5){
  transform: translateX(30%);
}
#btm6-part2 h4:nth-child(6){
  transform: translateX(40%);
}
#btm6-part2 h4:nth-child(7){
  transform: translateX(50%);
}
/* #page7{
  height: 100vh;
  background-color: #111;
} */

#btm6-part3 h4:nth-child(2){
  transform: translateX(0);
}
#btm6-part3 h4:nth-child(3){
  transform: translateX(10%);
}
#btm6-part3 h4:nth-child(4){
  transform: translateX(20%);
}
#btm6-part3 h4:nth-child(5){
  transform: translateX(30%);
}
#btm6-part3 h4:nth-child(6){
  transform: translateX(40%);
}
#btm6-part3 h4:nth-child(7){
  transform: translateX(50%);
}

#btm6-part4 h4:nth-child(2){
  transform: translateX(0);
}
#btm6-part4 h4:nth-child(3){
  transform: translateX(10%);
}
#btm6-part4 h4:nth-child(4){
  transform: translateX(20%);
}
#btm6-part4 h4:nth-child(5){
  transform: translateX(30%);
}
#btm6-part4 h4:nth-child(6){
  transform: translateX(40%);
}
#btm6-part4 h4:nth-child(7){
  transform: translateX(50%);
}
