* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:'gilroy';
}
html, body {
height: 100%;
width: 100%;
}
#page5{
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  
  padding: 5vh 3vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-top: 100px solid #111;
}




#page5-right{
  width: 100%;
}
#page5-right>p{
  font-size: 2.1vw;
  /* color: #03e9f4; */
}
#page5-right>p>span{
  background-color: #0DA34E;
  width: 15vw;
  display: inline-block;
  
}
#page5-content{
  width: 100%;
  /* background-color: red; */
  margin-top: 5vh;
  padding: 2vh 0;
  /* border-top: 2px solid white; */
}
#page5-content>h1{
  font-size: 3vw;
  font-weight: 500;
}
#page5-content #flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: relative; */
  margin-top: 4vh;
  margin-bottom: 4vh;
  gap: 1vw;
  
  /* align-items: center; */
}
#page5-content #flex h4{
  border-radius: 50px;
  border: 01px solid white;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 0.8vw;
}
.page5-elem{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* background-color: red; */
  padding-top: 3vh ;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  padding-bottom: 8vh;
  position: relative;
  border-top: 1px solid #333;

}
.page5-elem p{
  width: 55%;
  font-size: 1vw;
  position: relative;
  z-index: 8;
  overflow: hidden;
}
.page5-elem h3{
  font-size: 1.6vw;
  font-weight: 400;
  position: relative;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  z-index: 8;
}
.page5-elem i{
  font-size: 1vw;
  position: relative;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  z-index: 8;
}
.over{
  height: 100%;
  width: 100%;
  background-color: #222;
  position: absolute;
  top: 0;
  transform:translateY(-100%);
  opacity: 0;
  display: none;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
.page5-elem:hover h3{
  padding-left: 1vw;
  /* padding-right: 2vw; */
}
.page5-elem:hover i{
  padding-right: 1vw;

}
.page5-elem:hover .over{
  transform: translateY(0%);
  opacity: 1;
  display: initial;
}
.page5-elem:hover{
  border-top: 2px solid #fff;
}
summary::marker{
  content: "";
}
summary>h1{
  /* font-size: ; */
  text-align: center;
}




.button
{
  position: relative;
  display: inline-block;

  padding: 5px 10px;
  /* margin: 5.5vh; */
  margin-left: 5vh;
  color: #A841AE;
  font-size: 3vw;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  /* margin-left: 35%; */
  transition: 0.5s;
  /* letter-spacing: 4px; */
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
.button h2{
  text-align: center;
  font-weight: 400;
  font-size: 2vw;
  letter-spacing: 0.5vw;
  
  /* color: #A841AE; */
}
.page5-elem:hover
{
  background: #111;
  color: #ffffff;
  box-shadow: 0 0 15px #1f9aa5;
        /* 0 0 25px #1f9aa5,
        0 0 50px #1f9aa5,
        0 0 200px #1f9aa5; */
}
.button span
{
  position: absolute;
  display: block;
}
.button span:nth-child(1)
{
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, transparent, #A841AE);
  animation: animate1 1s linear infinite;
}
@keyframes animate1
{
  0%
  {
    left: -100%;
  }
  50%, 100%
  {
    left: 100%;
  }
}
.button span:nth-child(2)
{
  top: -100px;
  right: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #A841AE);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2
{
  0%
  {
    top: -100%;
  }
  50%, 100%
  {
    top: 100%;
  }
}
.button span:nth-child(3)
{
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(270deg, transparent, #A841AE);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3
{
  0%
  {
    right: -100%;
  }
  50%, 100%
  {
    right: 100%;
  }
}
.button span:nth-child(4)
{
  bottom: -100%;
  left: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #A841AE);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4
{
  0%
  {
    bottom: -100%;
  }
  50%, 100%
  {
    bottom: 100%;
  }
}