* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
    color: white;
    }
    html, body {
    height: 100%;
    width: 100%;
    }
    nav{
        position: fixed;
        display: flex;
        background-color: #111;
        align-items: flex-start;
        width: 100%;
        padding: 2vw 10.4vw;
        justify-content: space-between;
        height: 15vh;
        z-index: 10;
        /* margin-bottom: 1px solid green; */
        
    }
    nav>h1{
        background-image: linear-gradient(45deg , #4158D0 0%, #b33fab 46%, #ffffff 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    #nav-part2{
        display: flex;
        gap: 2vw;
        align-items: flex-start;
        padding: 1vh 0;
        position: relative;
        z-index: 10;
    }
    #nav-part2 h5 span{
        font-size: 0.74vw;
        font-weight: 400;
        display: inline-block;
        transform: translateY(25px);
    }
    #nav-part2 h5{
        margin-bottom: 1vw;
        display: none;
        overflow: hidden;
    
    }
    #nav-part2 h4{
        font-size: 0.73vw;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 2.6vw;
    }
    nav:hover #nav-bottom{
        height: 150%;
        bottom: -150%;
        background-color: #111;
    }
    #nav-bottom{
        /* background-color: red; */
        height: 0%;
        width: 80%;
        position: absolute;
        transition: all ease 0.65s;
        bottom: 0%;
        border-bottom: 1px solid #dadada;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0vw 15vw;
        padding-left: 18.2vw;
        /* padding-top: 6vw; */
        
        
    }
    #bottom-div h5 span{
        font-size: 0.75vw;
        font-weight: 600;
        display: inline-block;
        opacity: 0;
        
        
        
    
    }
    #bottom-div h5{
        margin-bottom: 0.4vw;
        overflow: hidden;
        
    }
    #bottom-div{
        margin-top: 2vw;
        
    }
    nav button{
        background-color: #0DA34E;
        display: flex;
        align-items: center;
        padding: 12px 12px;
        border-radius: 50px;
        border: none;
        font-size: 0.85vw;
        font-weight: 700;
        text-transform: uppercase;
    }
    nav button svg{
        height: 0.85vw;
        margin-left: 1.6vw;
    
    }
    #nav-bottom{
        width: 79%;
        height: 20vh;
        position: absolute;
        background-color: #111;
        /* bottom: 0%; */
        top: 100%;
        z-index: 9;
        border-bottom: 1px solid white;
    
    }